<header class="text-align:center">
  <stack-l space="var(--s3)">
    <cluster-l justify="center" align="center" space="var(--s1)">
      <a href="/">Home</a>
      <a href="/about">About</a>
      <a href="/stacks/">View all stacks</a>
    </cluster-l>
    <h1>{{ title }}</h1>
  </stack-l>
</header>