<footer>
  <box-l borderWidth="0px" padding="var(--s3)">
    <cluster-l justify="space-between" align="center">
      <cluster-l justify="flex-start" space="var(--s1)" align="center">
        <a href="/about">About the project</a>
        <a href="/stacks">View all stacks</a>
      </cluster-l>
      <div class="text-align:left">
        <h4>Add Your Stack!</h4>
        <p>
          Learn how to contribute your stack by <a href="https://github.com/juancarlosasensio/planet-stack" target="_blank">visiting the repo ></a>
        </p>
      </div>
    </cluster-l>
  </box-l>
</footer>