<footer>
  <box-l borderWidth="0px" padding="var(--s3)">
    <cluster-l justify="space-between" align="center">
      <div class="text-align:left">
        <h4>Planet Stacks</h4>
        <p>
          Created by <a href="https://twitter.com/toysoldier182" target="_blank">Juan Carlos Asensio</a>
        </p>
      </div>
      <div class="text-align:left">
        <h4>Add Your Stack!</h4>
        <p>
          Learn how to contribute your stack by <a href="https://github.com/juancarlosasensio/planet-stack" target="_blank">visiting the repo ></a>
        </p>
      </div>
    </cluster-l>
  </box-l>
</footer>