---
layout: base.njk
---

<stack-l space="var(--s3)" class="width:measure">
  {% for key, value in stack %}
    {% if key === 'stack' or key === 'techStack' %}
      {% for layer, technologies in stack[key] %}
        <div class="docs-toc dashed" aria-labelledby="toc-title">
          <span aria-hidden="true" id="toc-title">{{layer}}</span>
          <ul class="horizontal">
            {% for tech in technologies %}
              <li>{{tech}}</li>
            {% endfor %}
          </ul>
        </div>
      {% endfor %}
    {% endif %}
  {% endfor %}
</stack-l>

{% if pagination.href.previous %}
  <a href="{{pagination.href.previous}}">Previous</a>
{% endif %}
{% if pagination.href.next %}
  <a href="{{pagination.href.next}}">Next</a>
{% endif %}