* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background: skyblue;
  background-image: url("data:image/svg+xml,%3Csvg width='42' height='44' viewBox='0 0 42 44' xmlns='http://www.w3.org/2000/svg'%3E%3Cg id='Page-1' fill='none' fill-rule='evenodd'%3E%3Cg id='brick-wall' fill='%237AB9D6' fill-opacity='0.4'%3E%3Cpath d='M0 0h42v44H0V0zm1 1h40v20H1V1zM0 23h20v20H0V23zm22 0h20v20H22V23z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-gap: 1rem;
  padding: 0;
  margin: 0;
}

body,
a {
  color: #454975;
}

h1,
h2,
h3,
figcaption,
li strong {
  font-family: "Rowdies", cursive;
  letter-spacing: 0.03em;
}

h1,
h2,
h3,
figcaption {
  text-align: center;
}

h1,
h2 {
  font-weight: 700;
}

h3,
figcaption,
li strong {
  font-weight: 300;
}

h1,
li strong {
  color: #c72c36;
}

h1 {
  font-size: 6rem;
  font-size: clamp(2.5rem, 5vw, 5rem);
  line-height: 1;
}

h2 {
  font-size: 2rem;
}

h2 a {
  font-color: inherit;
  text-decoration: none;
}

h3 {
  color: lightblue;
  background-color: #454975;
  padding: 0.5em;
  margin: 0 1rem;
}

main,
.container {
  width: 80ch;
  max-width: calc(100vw - 2rem);
  margin: 0 auto;
}

.columns {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30ch, 1fr));
}

img {
  display: block;
  width: 300px;
  max-width: 100%;
  height: 300px;
  margin: 0 auto;
  object-fit: cover;
  border-radius: 25%;
  box-shadow: 0 2px 3px 2px rgba(0, 0, 0, 0.37);
}

figcaption {
  display: inline-block;
  position: relative;
  left: 50%;
  padding: 0.5rem 1rem;
  font-size: 1.5rem;
  background-color: #c72c36;
  color: lightblue;
  border: 2px solid currentColor;
  border-radius: 2px;
  transform: translate(-50%, -50%);
}

ul {
  list-style: none;
  text-align: center;
  padding: 0;
  margin: 1rem auto;
}

li + li {
  margin-top: 0.5em;
}

.battle {
  margin: 0 auto 5vh;
}

footer {
  width: 100vw;
  text-align: center;
  background-color: #c72c36;
  color: #fff;
  padding: 1rem;
}

footer .container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

footer h4,
footer p {
  margin: 0.25rem;
}

footer a {
  color: inherit;
}
