---
pagination:
  data: stacks
  alias: stack
  size: 1
eleventyComputed:
  title: "{{ stack.title }}"
  author: "{{ stack.author }}"
  twitter: "{{ stack.twitter }}"
  websiteTitle: "{{ stack.websiteTitle }}"
  websiteUrl: "{{ stack.websiteUrl }}"
permalink: "/stacks/{{ stack.title | slug }}/"
showStackPartialTitle: false
---

{% extends "base.njk" %}
{% block content %}
  {% include "_stack.njk" %}
  {{ content | safe }}
{% endblock %}

{% block pagination_nav %}
  {% include "_pagination_nav.njk" %}
{% endblock %}