---
layout: base.njk
title: About This Project
---

<article class="flow">
  <h3>Crowdsourced technology stacks</h3>
  <p>
        Subject-matter experts showing us the technologies behind curious projects.
      </p>
  <p>
        From dams and drones to vaccum cleaners and apps on phones, there are many technologies –some of them unbeknownst to most of us– involved in making the planet tick.
      </p>
  <p>
        This project was hugely inspired by Stephanie Eckles. Much of the groundwork for this project was laid out by her.
      </p>
</article>