---
layout: base.njk
title: About This Project
---

<article class="battle">
  <h2>Crowdsourced technology stacks</h2>
  <div>
    <p>
      The goal is to allow subject-matter experts in their fields submit technology stacks for interesting projects.
    </p>
    <p>
      From dams and drones to vaccum cleaners and apps on your phone, there are many technologies, unbeknownst to most of us, involved in making the planet tick.
    </p>
    <p>
      This project was hugely inspired by Stephanie Eckles, and much of the groundwork for this project itself was laid out by her.
    </p>
  </div>
</article>

{# {
  "title": "Tesla Stack Test",
  "author": "Sir Elon",
  "twitter": "toysoldier182",
  "websiteTitle": "juancarlosasensio.com",
  "websiteUrl": "https://juancarlosasensio.netlify.app/",
  "stack": {
    "interior": [
      "Aluminum",
      "Leather"
    ],
    "exterior": [
      "Aluminum",
      "Glass"
    ],
    "power": [
      "Drive train",
      "Tesla battery"
    ],
    "software": [
      "JavaScript",
      "C++"
    ]
  }
} #}