---
pagination:
  data: dogs
  alias: dog
  size: 1
eleventyComputed:
  title: "{{ dog.name }}"
  petColor: "{{ dog.petColor }}"
  favoriteFood: "{{ dog.favoriteFood }}"
  favoriteToy: "{{ dog.favoriteToy }}"
  photoURL: "{{ dog.photoURL }}"
  ownerName: "{{ dog.ownerName }}"
  ownerTwitter: "{{ dog.ownerTwitter }}"
layout: pet.njk
permalink: "/dogs/{{ dog.name | slug }}/"
---

