---
layout: base.njk
title: Planet Stacks
---

<article class="battle">
  <h2>⚡️ Weekly Highlights of how stuff is built and how it functions ⚡️</h2>
  <div class="columns">
    <ul>
      {% for stack in stacks | randomStack %}
        <li>
          <h4>{{ stack.title }}</h4>
          <ul>
            {# Figure out how to do a nested iteration over item, which is an array #}
            {% for layer, items in stack.techStack %}
              <li>{{ layer }}: {{ items }}</li>
            {% endfor %}
          </ul>
        </li>
      {% endfor %}
    </ul>
  </div>
</article>

{# {
  "title": "Tesla Stack Test",
  "author": "Sir Elon",
  "twitter": "toysoldier182",
  "websiteTitle": "juancarlosasensio.com",
  "websiteUrl": "https://juancarlosasensio.netlify.app/",
  "stack": {
    "interior": [
      "Aluminum",
      "Leather"
    ],
    "exterior": [
      "Aluminum",
      "Glass"
    ],
    "power": [
      "Drive train",
      "Tesla battery"
    ],
    "software": [
      "JavaScript",
      "C++"
    ]
  }
} #}